---
layout: default
title: PW 7
breadcrumb:
- Home
- PW 7
---

<h1>PW 7</h1>

<p>Stats for grades on the PW 7 homework.</p>

{% include table.html data = site.data.pw7.overall %}

<p><i class="fas fa-info fa-fw"></i> These overall stats are calculated on latest grades (or latest traces, meaning the rightest column in the grades tables below).</p>

<h2>Grades</h2>

<p>The grades are anonymized. More info on the <a href="{{ 'legal' | relative_url }}">Legal</a> page.</p>

{% include grades.html data = site.data.pw7 %}
